<div id="modal-main">
    
    <div id="modal-content">
        <span id="closeBtn">&times;</span>
        <img id="modalImg" src="">
        <footer id="modal-footer">
        <form id='rateForm' class="text-center" action="http://{{ request.META.HTTP_HOST }}{% url 'home' %}">
            {% csrf_token %}
            Rate image:
            <input id="imgRate" type="number" step="1" min="1" max="5">
            <input type="submit" value="Submit">
        </form>
        <p id="thankYou" class="text-center">Thank you for your vote!</p>
        </footer>
    </div>
</div>